---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');

const pageTitle = "Index";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Article Index</h2>
    <table>
        <thead>
            <tr><th>Title</th><th>Created at</th></tr>
        </thead>
        <tbody>
            {articles.map((article) => (
                <tr><td><a href=`/archives/${article.slug}`>{article.data.title}</a></td><td>{article.data.createdAt.toDateString()}</td></tr>
              ))}                    
        </tbody>
    </table>
</BaseLayout>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 80%;
        tbody tr {
            border-bottom: 1px solid gray;
        }
        th, td {
            padding: 0.5em;
        }
    }
    th:last-child {
        width: 200px;
    }
    td:last-child {
        text-align: center;
    }
</style>