---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');

const tags = [...new Set(articles.map((x) => x.data.tags).flat())];
const pageTitle = "TAG Index";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>TAG Index</h2>
    <div class="tags">
      {tags.map((tag) => (
        <a href={`/tags/${tag}`}>{tag}</a>
      ))}
    </div>
</BaseLayout>

<style>
    .tags {
      display: flex;
      flex-wrap: wrap;
      a {
        display: block;
        margin: 0.5em 0.5em;
        padding: 0.1em 0.5em;
        text-decoration: none;
        color: #202040;
        font-weight: bold;
        border: 1px solid #202040;
      }
      a:hover {
        background-color: silver;
      }
      a:visited {
        color: #202040;
      }
    }
  </style>