---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');

const tags = [...new Set(articles.map((x) => x.data.tags).flat())];
const pageTitle = "TAG Index";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>TAG Index</h2>
    <div class="tags">
      {tags.map((tag) => (
        <span class="tag"><a href={`/tags/${tag}`}>{tag}</a></span>
      ))}
    </div>
</BaseLayout>

<style>
    .tags {
      display: flex;
      flex-wrap: wrap;
      > span {
        display: block;
        margin: 0.5em;
      }
    }
  </style>