---
import BaseLayout from '../layouts/BaseLayout.astro';
import Article from '../components/Article.astro';
import PageNavigater from '../components/PageNavigater.astro';

import { getCollection } from 'astro:content';



const pageTitle = "Top";

const articles = (await getCollection('articles')).slice(-5).reverse();



---
<BaseLayout pageTitle={pageTitle} title="" description="">
  <div class="banner">
    <img src="https://i.gyazo.com/c42ecba652a06ff21364aab646f04bda.png" alt="ofellabuta" >
  </div>
  <div class="container">
    <div class="column">
        <h4>Recently Updated Contents</h4>
        {
          articles.map((article) => (
          <div style="text-align: center;">
            <a href=`/archives/${article.slug}`>{article.data.title}</a>
            <span>({article.data.createdAt.toDateString()})</span>
          </div>
          ))
        }
    </div>
  </div>
  <div class="container">
    <ul class="menu">
      <li><a href="/bibliographic/bought_books">最近買った本</a></li>
      <li><a href="/bibliographic/finished_reading">最近読んだ本</a></li>
      <li><a href="/bibliographic/watched_movies">最近観た映画</a></li>
    </ul>    
  </div>
  <div class="container">
    <ul class="menu">
      <li><a href="/bibliographic/magazines">COMIC MAGAZINE DATA</a></li>
      <li><a href="/bibliographic/bookreviews">趣味の雑誌の書評欄で紹介された本のリスト</a></li>
      <li><a href="/restroom_in_comics">マンガの中のトイレ</a></li>
    </ul>    
  </div>
</BaseLayout>

<style>
  .banner {
    text-align: center;
    margin-bottom: 1em;
    img {
      max-width: 450px;
    }
    > div {
      padding: 0.5em;
      text-align: center;
      font-size: 1.5em;
      fonr-weight: bold;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
    .column {
      margin: 0;
      width: 500px;
      > h4 {
        margin: 0.5em 0;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
      }
      > div {
        margin: 0 0.5em;
        font-size: 75%;
        > span {
          font-size: 70%;
        }
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      gap: 2em;
      li {
        a {
          text-decoration: none;
          &:hover {
          }
        }
      }
    }
  }
</style>
