---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';

const pageTitle = "Top";

const article = await getEntry('articles', 'article-0001');
const { Content, headings } = await article.render();

---
<BaseLayout pageTitle={pageTitle}>
  <div class="article">
    <h2>{article.data.title}</h2>
    <div class="article-content">
      <Content></Content>
    </div>
    <div class="article-info">
      <div class="tags">
        {
          article.data.tags.map((x: string) => <span>{x}</span>)
        }
      </div>
      <div>/ {article.data.createdAt.toDateString()}</div>
    </div>
  </div>
</BaseLayout>

<style>
  .article {
    h2 {
      text-align: center;
    }
    .article-info {
      border-top: 1px solid gray;
      display: flex;
      justify-content: flex-end;
      padding-top: 0.5em;
      margin-bottom: 1em;
      .tags {
        span {
          margin-right: 0.5em;
        }
      }
    }
  }
</style>