---
---
<header>
  <h1>ofellabuta</h1>
  <script>
    document.querySelector("header > h1")?.addEventListener("click", function(e) {
      e.stopPropagation();
      e.preventDefault();
      document.location.href = "/";
    })
  </script>
</header>

<style>
  h1 {
    text-align: center;
    font-family: serif;
    font-style: bold;
    font-size: 48px;
  }
  h1:hover {
    cursor: pointer;
  }
</style>