---
import { getCollection } from 'astro:content';
import { sequence } from 'astro:middleware';
const quotes = await getCollection('quotes');
---
<nav>
    <input type="hidden" id="quote-ids" value={quotes.map(quote => quote.slug).join(',')} />
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/movies">Movies I've seen</a></li>
        <li><a id="quote-link" href="/quotes">Quotes</a></li>
        <li><a href="/bibliographic">Bibliographic Data</a></li>
    </ol>
    <script>
        document.getElementById('quote-link')?.addEventListener('click', (e) => {
            e.preventDefault();
            const ids = (document.getElementById('quote-ids') as HTMLDataElement).value.split(',');
            const randomId = ids[Math.floor(Math.random() * ids.length)];
            window.location.href = `/quotes/${randomId}`;
        });
    </script>
</n1av>

<style>
    nav {
        font-size: 80%;
        padding: 0;
        ol {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            li {
                display: block;
                a {
                    display: block;
                    margin: 0 1em;
                    padding: 0.2em;
                    width: 150px;
                    border: 1px solid #202040;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    color: #020240;
                }
                a:hover {
                    color: #020240;
                    background-color: silver;
                }
                a:visited {
                    color: #020240;
                }
            }
        }
    }
    @media screen and (max-width: 635px) {
        nav {
            display: none;
        }
    }    
</style>