---

---
<nav>
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/tags">Tag Index</a></li>
    </ol>
</n1av>

<style>
    nav {
        font-size: 80%;
        padding: 0;
        ol {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            li {
                display: block;
                a {
                    display: block;
                    margin: 0 1em;
                    padding: 0.2em;
                    width: 120px;
                    border: 1px solid #202040;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    color: #020240;
                }
                a:hover {
                    color: #020240;
                    background-color: silver;
                }
                a:visited {
                    color: #020240;
                }
            }
        }
    }
</style>