---
import type { CollectionEntry } from 'astro:content';
interface Props {
    path: string,
    prev: string|null,
    next: string|null
}
const { path, prev, next } = Astro.props;

---
<div class="page-navi">
    {prev && <div class="prev-navi"><a href=`/${path}/${prev}`>Previous</a></div>}
    {next && <div class="next-navi"><a href=`/${path}/${next}`>Next</a></div>}
</div>

<style>
    .page-navi {
        display: flex;
        margin-bottom: 1em;
        > div {
            margin: 0.5em;
        }
        > .next-navi {
            margin-left: auto;
        }
    }
</style>