---
import type { CollectionEntry } from 'astro:content';
interface Props {
    prev: CollectionEntry<'articles'>|null,
    next: CollectionEntry<'articles'>|null
}
const { prev, next } = Astro.props;

---
<div class="page-navi">
    {prev && <div class="prev-navi"><a href=`/archives/${prev.slug}`>Previous</a></div>}
    {next && <div class="next-navi"><a href=`/archives/${next.slug}`>Next</a></div>}
</div>

<style>
    .page-navi {
        display: flex;
        margin-bottom: 1em;
        > div {
            margin: 0.5em;
        }
        > .next-navi {
            margin-left: auto;
        }
    }
</style>