---
import type { CollectionEntry } from 'astro:content';
interface Props {
    quote: CollectionEntry<'quotes'>;
}
const { quote } = Astro.props;
const { Content } = await quote.render();

---

<div class="quote">
    <h2>{quote.data.title}</h2>
    <div class="created-at">{quote.data.createdAt.toDateString()}</div>
    <div class="quote-content">
      <Content></Content>
    </div>
    <div class="quote-info">
        <div class="source">{quote.data.source}</div>
    </div>
  </div>

  <style>
    .quote {
      h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-transform:capitalize;
      }
      .created-at {
        margin-top: -1em;
        padding-right: 2em;
        font-size: 80%;
        text-align: right;
      }
      .quote-content {
        padding: 0 1em;
        line-height: 1.4em;
        font-family: serif;
        font-size: 1.5em;
      }
      .quote-info {
        padding-top: 1em;
        margin-bottom: 1em;
        .source {
          text-align: right;
          margin-bottom: 1rem;
        }
      }
    }
    @media screen and (max-width: 635px) {
      .quote {
        .quote-content {
          h3 {
            padding: 0 1em;
          }
        }
        .quote-info { 
          .tags {
            flex-wrap: wrap;
            justify-content: flex-start;
            a {
              margin: 0.2em;
            }
          }
        }
      }
    }   
  </style>