---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { magazineData } from '../../scripts/lib.ts'

const persons = [
    { id: 964, name: "江戸川乱歩" },
    { id: 1027, name: "ふくやまけいこ" },
]

---
<BaseLayout pageTitle="Bibliograpohic Data">
    <h2>Bibliographic Data</h2>
    <p>データ移行作業中...</p>
    <div class="bibliographic">
        <div class="bibliographic-list person">
          <h3>人物</h3>
          <div>
            {
              persons.map((person) => (
                  <div class="item">
                      <a href={`/bibliographic/persons/${person.id}`}>{person.name} 作品リスト</a>
                  </div>
              ))
            }
          </div>
        </div>
        <div class="bibliographic-list comic-magazines">
          <h3>マンガ雑誌</h3>
          <div>
            {
              magazineData.map((mag) => (
                  <div class="item">
                      <a href={`/bibliographic/series/${mag.id}`}>{mag.title}</a>
                  </div>
              ))  
            }    
          </div>
      </div>
    </div>
</BaseLayout>

<style>
  .bibliographic {
    display: flex;
    gap: 2rem;
    .bibliographic-list {
      flex: 1 0 auto;
      > div {
        margin-left: 20px;
        .item {
          margin-bottom: 0.5em;
        }
      }
    }
  }
</style>