---
import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout pageTitle="Bibliograpohic Data">
    <h2>Bibliograpohic Data</h2>
    <div>
      <a href="/bibliographic/comic-magazines/">Comic Magazines</a>
    </div>
</BaseLayout>

<style>
  </style>